.btn {
  // 默认 $btn-default-bg
  background: #222; 
  // 默认：border: $btn-default-border-width solid $btn-default-border-color;
  border: $btn-default-border-width solid #52c41a;
  border-radius: $btn-default-radius;
  // 默认 color: $btn-default-color;
  color: #52c41a;
  display: inline-block;
  font-size: $btn-default-font-size;
  line-height: 2;
  padding: 0 20px;
  text-decoration: none;
  transition-property: background-color;
  the-transition();

  &:hover {
   // 默认： background: $btn-default-hover-bg;
  // 默认：border-color: $btn-default-hover-border-color;
    border-color: #f5222d;
    // 默认：color: $btn-default-hover-color;
    color: #f5222d;
  }

  + .btn {
    margin: 0 0 8px 8px;
  }

  .fa-fw {
    text-align: left;
    width: (18em / 14);
  }
}
