//
// Mist scheme
// ==================================================
@import '_layout';
@import '_header';
@import '_menu';
@import '_posts-expand';
@import '../Muse/_sidebar';
@import '../Muse/_sub-menu';

body{   
  background: rgba(19,137,235,.3);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}
.header {
  background: rgba(19,137,235,.2)!important;
}
.footer {
  background: rgba(19,137,235,.2)!important;
}
